@media only screen and (max-width: 500px){
    .call-wall{
        background-color: orangered;
        color: sienna
    }
}

.call-wall{
    background-color: midnightblue;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: grid;
    grid-template-areas: 
    'divide times back back'
    'seven eight nine minus'
    'four five six plus'
    'one two three equals'
    'zero zero dot equals';

    
    width: 500px;
    height: 500px;

}

.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.zero {grid-area: zero;}
.dot {grid-area: dot;}
.divide {grid-area: divide;}
.minus {grid-area: minus;}
.equals {grid-area: equals;}
.plus {grid-area: plus;}
.times { grid-area: times;}
.back {grid-area: back;}

.but, .signs, .back, .equals, .dot{
    width: auto;
    height: auto;
    text-align: center;
    color: #907676;
    /* display: grid; */
    background-color: #f5f5f5;
    font-size: 3em;
    /* padding-top: 1px; */
    border: solid #9384934d;
    border-width: thin;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.screen{
    width: 500px;
    height: 150px;
    background-color: #423c3c;;
    color: aliceblue;
    text-align-last: right;
    font-size: 5em;
}
.solution{
    color: tomato;
    font-size: 0.5em;
}
.but:hover{
    background-color:#cfcfc6;
}

.but:click{
    background-color: black
}

.equals{
    background-color: orangered;
}